.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xl) calc(var(--spacing-xl) * 2);
  position: sticky;
  top: 0;
  z-index: 10;

  @media (width < 1200px) {
    padding: var(--spacing-xl) calc(var(--spacing-lg) * 2);
  }

  @media (width < 900px) {
    padding: var(--spacing-md) var(--spacing-lg);
  }

  @media (width < 768px) {
    padding: var(--spacing-md) var(--spacing-md);
  }

  @media (width < 500px) {
    padding: var(--spacing-md) var(--spacing-sm);
  }
}

.container {
  width: 100%;
  display: flex;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  align-items: center;
  border-radius: var(--border-radius-lg);

  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
  background: var(--background-surface);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.4);

  @media (width < 768px) {
    padding: var(--spacing-sm);
  }

  @media (width < 500px) {
    padding: var(--spacing-sm);
  }
}

.navLinks {
  flex-grow: 1;
  padding: 0 var(--spacing-xs);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.linkButton {
  display: flex;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius);
  transition: all 0.2s ease-in-out;
  border: none;
  background-color: transparent;
}

.linkButton:hover {
  transform: scale(1.03);
  background-color: var(--background-tertiary);
  box-shadow: var(--shadow-general);
}

.link {
  text-decoration: none;
  font-weight: 700;
  font-size: var(--text-lg);
  color: var(--text-primary);

  @media (width < 768px) {
    font-size: var(--text-base);
  }
}
