.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xl) calc(var(--spacing-lg) * 2);
  position: sticky;
  top: 0;
  z-index: 10;

  @media (width < 900px) {
    padding: var(--spacing-md) var(--spacing-lg);
  }

  @media (width < 768px) {
    padding: var(--spacing-md) var(--spacing-md);
  }
}

.container {
  width: 100%;
  display: flex;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  align-items: center;
  border-radius: var(--border-radius-lg);

  background: var(--background-glass);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: var(--shadow-glass);
  padding: var(--spacing-md) var(--spacing-lg);
}

.navLinks {
  flex-grow: 1;
  padding: 0 var(--spacing-xs);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.linkButton {
  display: flex;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius);
  transition: all 0.2s ease-in-out;
  border: none;
}

.linkButton:hover {
  transform: scale(1.03);
  background-color: var(--background-secondary);
  box-shadow: var(--shadow-sm);
}

.linkButton .link {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 700;
  font-size: var(--text-lg);
}
